<nav class="nav">
  <div class="left-side">
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/006/800/199/small/creative-abstract-book-feather-logo-design-vector.jpg"
      alt="book">
    <div class="title">{{data.title}}</div>
  </div>
  <mat-form-field>
    <mat-select (selectionChange)="getMode($event.value)"
                [(ngModel)]="selected">
      <mat-option *ngFor="let mode of modes" [value]="mode.key">
        {{mode.value}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</nav>
