@import "src/assets/styles/global";

.nav {
  .left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }

    .title {
      font-size: 21px;
    }
  }

  width: 100%;
  color: $text;
  position: fixed;
  box-shadow: 0 0.5rem 1rem 0 $shadow;
  padding: 2.5rem 1.5rem;
  background-color: $bg2;
  z-index: 124;
  display: flex;
  max-height: 80px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
